.flex-articles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 320px;
    border-radius: 10px;
    border: 2px solid coral;
}

.flex-articles-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;}